<!--
<div style="background-color: #FAFAFA; border: 1px solid #DDDDDD; padding: 1em; margin: 5em 0em; border-radius: 10px;">
    <h2 id="comments"><a href="#comments" style="color: inherit;">Comments</a></h2>
    <div id="disqus_thread"></div>
</div>

<script>
    var disqus_config = function () {
    this.page.url = "{{ page.url | prepend: site.url }}";
    this.page.identifier = "{{ page.url }}";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://jhumelsine.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
-->
