<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
        type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=theme-color content="#03426d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <meta property="og:image" content="https://jhumelsine.github.io/assets/Software%20Design%20Pattern%20Evangelist.png">
    <meta name="twitter:image" content="https://jhumelsine.github.io/assets/Software%20Design%20Pattern%20Evangelist.png">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HQ1WM57FPF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-HQ1WM57FPF');
    </script>

<style>
    #content.h1 { color: #03426d !important; }
    #content.h2 { color: #03426d !important; }
    #content.h3 { color: #03426d !important; }
    #content.h4 { color: #03426d !important; }
    #content.h5 { color: #03426d !important; }
</style>
    
</head>

<body>

    <header role="banner" style="margin: 0; text-align: center; padding: 1rem; background-image: linear-gradient(#03426d,#03426d,#03426d,#03426d00); color: white;">
        <h1 style="font-size: 225%; margin: 0; margin-top: 1rem;"><a href="https://jhumelsine.github.io/" style="color: white;">Design Pattern Evangelist Blog</a></h1>
        <h2 style="margin-bottom: 1rem; font-size: 175%; opacity: .5; font-weight: 300; margin: 0;">Smart pointers about software design</h2>
        <img id="headerImage" src="/assets/logo-wide.png" style="max-width: 100%; margin: 2rem 0; border-radius: 3rem;">
    </header>

    <main id="content" class="main-content" role="main">

        <!-- Show title at the top of the page for articles -->
        {% if page.url != '/' %}
        <div>
          <h1 style="margin: 0; line-height: normal;"><a href="{{ page.url }}" style="font-weight: 600; color: #03426d;">{{ page.title | default: site.title | default: site.github.repository_name }}</a></h1>
          <h2 style="margin-top: 1 rem; line-height: normal; opacity: .5; font-weight: 300; color: #03426d">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        </div>
        <hr style="width: 50%; margin: 3rem auto; height:5px;" />
        {% endif %}
        
        {{ content }}

        <!-- comments -->
        {% if page.url != '/' %}
            {% if page.comments %}
                {% include comments.html %}
            {% endif %}
        {% endif %}

        <!-- previous/next buttons -->
        {% if page.path contains "_post" %}
        
            {% if page.previous.url %}
            <h3 style="padding: 1em 0em; border-radius: .5em; padding: 1em; background-color: #03426d;">
                <a style="color: white;" href="{{page.previous.url}}">
                    <b>Previous:</b> {{page.previous.title}}
                </a>
            </h3>
            {% endif %}
        
            {% if page.next.url %}
            <h3 style="padding: 1em 0em; border-radius: .5em; padding: 1em; background-color: #03426d;">
                <a style="color: white;" href="{{page.next.url}}">
                    <b>Next:</b> {{page.next.title}}
                </a>
            </h3>
            {% endif %}
        
            <h3 style="padding: 1em 0em; border-radius: .5em; padding: 1em; background-color: #03426d;">
                <a style="color: white;" href="/">
                    <b>Home:</b> Design Pattern Evangelist Blog
                </a>
            </h3>
        
        {% endif %}
        
        <footer class="site-footer" style="margin-top: 3em;">
            <span class="site-footer-credits">
                Maintained by <a href="https://jhumelsine.github.io/about">Jim Humelsine</a> |
                <a href="/feed.xml">RSS Feed</a> |
                <a href="https://github.com/jhumelsine/jhumelsine.github.io/blob/main/{{ page.relative_path }}">Edit on GitHub</a>
            </span>
        </footer>
    </main>
</body>

</html>
