<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
        type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <meta property="og:image" content="https://jhumelsine.github.io/assets/Software%20Design%20Pattern%20Evangelist.png">
    <meta name="twitter:image" content="https://jhumelsine.github.io/assets/Software%20Design%20Pattern%20Evangelist.png">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HQ1WM57FPF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-HQ1WM57FPF');
    </script>
    
</head>

<body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner" style="padding: 0px;">
        {% if page.url != '/' %}
        <div style="position: inherit; background-color: rgba(0, 0, 0, .1);">
            <div style="max-width: 55rem; padding: 1rem 2rem; text-align: left; margin: auto;">
                <a href="https://jhumelsine.github.io/" style="color: white; font-size: 1.5em;">
                    Design Pattern Evangelist Blog
                </a>
            </div>
        </div>
        {% endif %}
        <div style="padding: 2rem">
            <h1 class="project-name">
                {{ page.title | default: site.title | default: site.github.repository_name }}
            </h1>
            <h2 class="project-tagline">
                {{ page.description | default: site.description | default: site.github.project_tagline }}
            </h2>
        </div>
    </header>

    <!--
        Header with logo on top
        <header role="banner" style="margin: 0; text-align: center; padding: 2rem; background-color: #03426d; color: white;">
            <img src="/assets/logo-wide.png" style="max-width: 100%;" />
            <h1 style="font-size: 225%; margin-bottom: 0;">Design Pattern Evangelist Blog</h1>
            <div style="margin-bottom: 1rem; font-size: 175%; opacity: .5;">Smart pointers about software design</div>
        </header>
    -->

    <main id="content" class="main-content" role="main">
        {{ content }}

        <!-- comments -->
        {% if page.url != '/' %}
            {% if page.comments %}
                {% include comments.html %}
            {% endif %}
        {% endif %}

        <!-- previous/next buttons -->
        {% if page.path contains "_post" %}
        
            {% if page.previous.url %}
            <h3 style="padding: 1em 0em; border-radius: .5em; padding: 1em; background-color: #159957;">
                <a style="color: white;" href="{{page.previous.url}}">
                    <b>Previous:</b> {{page.previous.title}}
                </a>
            </h3>
            {% endif %}
        
            {% if page.next.url %}
            <h3 style="padding: 1em 0em; border-radius: .5em; padding: 1em; background-color: #159957;">
                <a style="color: white;" href="{{page.next.url}}">
                    <b>Next:</b> {{page.next.title}}
                </a>
            </h3>
            {% endif %}
        
            <h3 style="padding: 1em 0em; border-radius: .5em; padding: 1em; background-color: #159957;">
                <a style="color: white;" href="/">
                    <b>Home:</b> Design Pattern Evangelist Blog
                </a>
            </h3>
        
        {% endif %}
        
        <footer class="site-footer" style="margin-top: 3em;">
            <span class="site-footer-credits">
                Maintained by <a href="https://jhumelsine.github.io/about">Jim Humelsine</a> |
                <a href="/feed.xml">RSS Feed</a> |
                <a href="https://github.com/jhumelsine/jhumelsine.github.io/blob/main/{{ page.relative_path }}">Edit on GitHub</a>
            </span>
        </footer>
    </main>
</body>

</html>
